<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<title>Home</title>
</head>
<body>
	<!-- HEADER -->
	<header th:replace="layout :: header"></header>

	<!-- MAIN -->
	<main class="container">
		<section class="row justify-content-center text-white">
			<h1 class="mt-5 display-3 text-center">Aplicación de Notas</h1>
			<hr>
		</section>
	</main>

	<!-- FOOTER -->
	<footer th:replace="layout :: footer"></footer>
</body>
</html>